name: Deploy Part 4 - Integral Function

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: 'Install dependencies'
        run: |
          cd 4_function
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: 'Deploy Azure Functions'
        uses: Azure/functions-action@v1
        with:
          app-name: 'lab2-functions-alice' 
          package: './4_function'
          publish-profile: ${{ secrets.AZURE_FUNCTIONAPP_PUBLISH_PROFILE }}
          scm-do-build-during-deployment: true
          enable-oryx-build: true
