name: Deploy Python Functions

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: 'Deploy Azure Functions'
        uses: Azure/functions-action@v1
        with:
          app-name: 'IL_NOME_DELLA_TUA_FUNCTION_APP' # Cambialo con quello del portale
          package: '4_functions' # Assicurati che il nome della cartella sia corretto
          publish-profile: ${{ secrets.AZURE_FUNCTIONAPP_PUBLISH_PROFILE }}
